<script>
    function openNav() {
        document.querySelector(".side-nav").style.width = "clamp(200px, 30%, 250px)";
        document.querySelector("body", "html").style.overflowY = 'hidden';
        document.querySelector("body", "html").style.touchAction = 'none';
    }
</script>

<button class="menu-btn" onClick="openNav()">
    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_3_36)">
        <line x1="6" y1="27.4314" x2="50" y2="27.4314" stroke="#442727" stroke-width="2"/>
        <line x1="6" y1="38.2157" x2="50" y2="38.2157" stroke="#442727" stroke-width="2"/>
        <line x1="6" y1="49" x2="50" y2="49" stroke="#442727" stroke-width="2"/>
        <path d="M50 17.6471H0L13.5 9.31372L50 17.6471Z" stroke="#442727" stroke-width="2" stroke-miterlimit="3.8637"/>
        <path d="M22.5 11.7647C22.5 13.6451 20.9424 15.1863 19 15.1863C17.0576 15.1863 15.5 13.6451 15.5 11.7647C15.5 9.88432 17.0576 8.34314 19 8.34314C20.9424 8.34314 22.5 9.88432 22.5 11.7647Z" fill="#FFAFAF" stroke="#442727"/>
        <path d="M19.388 9.82623C19.2526 6.99575 19.6103 1.55904 22.1242 2.45609" stroke="#442727"/>
        <line y1="27.4314" x2="3" y2="27.4314" stroke="#442727" stroke-width="2"/>
        <line y1="38.2157" x2="3" y2="38.2157" stroke="#442727" stroke-width="2"/>
        <line y1="49" x2="3" y2="49" stroke="#442727" stroke-width="2"/>
        </g>
        <defs>
        <clipPath id="clip0_3_36">
        <rect width="50" height="50" fill="white"/>
        </clipPath>
        </defs>
    </svg>
</button>

