<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>

    <%- include("partials/boilerplate.ejs") %>

    <link rel="stylesheet" href="/css/about.css" type="text/css" >
</head>

<body>
    <%- include("partials/side-nav.ejs") %>
    <%- include("partials/menu-button.ejs") %>

    <section class="bgd about-bgd">
        <h1 class="page-title">About</h1>
        <div class="about-container">
            <div class="about-body">
                <p>
                    Welcome to Bake Me! My name is Elina, and I discovered my passion for baking during the challenging times of the pandemic in 2020. As a dedicated hobbyist baker, I've embarked on countless culinary adventures throughout the years. Some recipes I encounter or create become cherished favorites, and I've designed this website as a digital recipe book of sorts.                 </p>
                <p>
                    Here, you'll find delectable treats, accompanied by my own unique twists and heartfelt anecdotes. It's a platform where I can express my love for baking and share my culinary creations with friends, family, and fellow baking enthusiasts. Hailing from the world’s most beautiful city of St. Petersburg, you might also find an array of classic Russian desserts that pay homage to my home!
                </p>
                <p>
                    But my baking journey wouldn't be complete without the company of my husband, Seth. Not only does our shared love for baking bring us joy and togetherness, but this blog is an opportunity for Seth to hone his web design skills. Seth even insisted on including a “Play” page where you can try out our own little browser game. Play enough and your name might be displayed on the high scores!
                </p>
                <p>
                    If you have any questions, find any bugs on the website, or you just wanted to give feedback on a recipe, please drop us a line through the “Contact” page. To see more about our non-food lives, check out my personal website here, and Seth’s website here. Otherwise, enjoy and share the website with your people!
                </p>
            </div>
            <hr class="about-border">
            <div class="about-img-container">
                <img class="about-img" src="/assets/LINA.jpg" alt="Lina">
            </div>

        </div>

    </section>

    <%- include("partials/footer.ejs") %>

    <script src="/js/side-nav.js"></script>
    <script src="/js/about.js"></script>
</body>