<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <!-- Styles and Scripts -->
    <link rel="stylesheet" href="/css/styles.css" type="text/css" >
    <link rel="stylesheet" href="/css/footer.css" type="text/css" >
    <link rel="stylesheet" href="/css/side-nav.css" type="text/css" >
    <link rel="stylesheet" href="/css/menu-button.css" type="text/css" >
    <link rel="stylesheet" href="/css/about.css" type="text/css" >
    <script src="/js/menu-button.js"></script>
    <script src="/js/side-nav.js"></script>
    <script src="/js/about.js"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>
    <%- include("partials/side-nav.ejs") %>
    <%- include("partials/menu-button.ejs") %>

    <section class="about-bgd">
        <h1 class="about-page-title">About</h1>
        <div class="about-container">
            <div class="about-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                    Ut aliquam purus sit amet. Enim nunc faucibus a pellentesque sit amet porttitor. Penatibus et magnis dis parturient montes. Convallis posuere morbi leo urna molestie at elementum. Semper auctor neque vitae tempus. Sit amet nisl purus in mollis. Semper eget duis at tellus at urna. Commodo odio aenean sed adipiscing diam. Auctor urna nunc id cursus metus aliquam eleifend mi in. Lectus urna duis convallis convallis tellus id.
                </p>
                <p>
                    At in tellus integer feugiat scelerisque varius morbi enim. Sem nulla pharetra diam sit amet nisl suscipit adipiscing bibendum. Nec ultrices dui sapien eget mi proin sed libero. Scelerisque felis imperdiet proin fermentum leo vel orci. Diam donec adipiscing tristique risus nec feugiat in fermentum posuere. Eu consequat ac felis donec et odio pellentesque diam volutpat. Sed pulvinar proin gravida hendrerit lectus. At imperdiet dui accumsan sit amet nulla facilisi morbi. Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam. Etiam non quam lacus suspendisse faucibus interdum posuere lorem.
                </p>
            </div>
            <hr class="about-border">
            <div class="about-img-container">
                <img class="about-img" src="/assets/LINA.jpg" alt="Lina">
            </div>

        </div>

    </section>

    <%- include("partials/footer.ejs") %>

</body>