<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact</title>

    <%- include("partials/boilerplate.ejs") %>

    <link rel="stylesheet" href="/css/contact.css" type="text/css" >
</head>

<body>
    <%- include("partials/side-nav.ejs") %>
    <%- include("partials/menu-button.ejs") %>

    <section class="bgd contact-form-bgd">
        <h1 class="page-title">Contact</h1>
            <% if (sentMessage === 0) { %>
            <form class = "small-form" action="/contact" method="post">
                <h3 class="form-title">Have a question?</h3>
                <div class="short-input-row">
                    <div class="short-input-container">
                        <label class="form-label" for="firstName">First Name:</label>
                        <input id="first-name" class="input short-input" type="text" name="firstName" required>
                    </div>
                    <div class="short-input-container">
                        <label class="form-label" for="lastName">Last Name:</label>
                        <input id="last-name" class="input short-input" type="text" name="lastName">
                    </div>
                </div>
                <label class="form-label" for="email">Email:</label>
                <input id="email" class="input" type="email" name="email" required>
                <label class="form-label" for="message">Message:</label>
                <textarea class="input long-input" name="message" cols="30" rows="10" required></textarea>
                <button class="submit-btn" type="submit">Send</button>
            </form>
            <% } else if (sentMessage === 1) { %>
                <div class="small-form">
                    <h3 class="form-title">Message sent!</h3>
                    <a href="/" class="return-home submit-btn">Home</a>
                </div>
            <% } else { %>
                <div class="small-form">
                    <h3 class="form-title">Oh no! Sorry, but something went wrong. Try again later.</h3>
                    <a href="/" class="return-home submit-btn">Home</a>
                </div>
            <% } %>
    </section>

    <%- include("partials/footer.ejs") %>

    <script src="/js/side-nav.js"></script>

</body>


</html>