.compose-form-bgd {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

#recipe-edit-selector {
    border-radius: 0px;
    background-color: white;
}

.form-seperator {
    border: 1px solid var(--brown);
    width: 90%;
    margin: 1rem auto 1rem auto;
}

#wrong-password-message {
    color: red;
    margin: 0;
    display: none;
}
