.contact-form-bgd {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

#email {
    width: 100%;
    align-self: left;
}

.return-home {
    text-decoration: none;
    text-align: center;
}
