.gallery-bgd {
    padding: 2rem 6.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.gallery-page-title {
    font-family: 'Dancing Script', cursive;
    font-size: 64px;
    color: #442727;
    padding: 0;
    margin: 0 auto 2rem auto;
}

.gallery-container {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 1rem;
    box-sizing: border-box;
    width: 85%;
}

.gallery-img-container {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}

.gallery-img {
    border: 6px solid #FBFFE2;
    box-sizing: border-box;
    object-fit: cover;
    box-shadow: 0 0 7px rgba(68, 39, 39, 0.3);
    transition: 0.5s;
    width: inherit;
    height: inherit;
}

.gallery-img:hover {
    cursor: pointer;
    filter: brightness(0.8);
    transition: 0.5s;
}

.gallery-img-container:nth-child(8n+1),
.gallery-img-container:nth-child(8n+6) {
    grid-row: span 2;
    grid-column: span 1;
}

.gallery-img-container:nth-child(8n+4),
.gallery-img-container:nth-child(8n+5) {
    grid-row: span 1;
    grid-column: span 2;
}

.gallery-img-container:nth-child(8n+2),
.gallery-img-container:nth-child(8n+3),
.gallery-img-container:nth-child(8n+7),
.gallery-img-container:nth-child(8n+8) {
    grid-row: span 1;
    grid-column: span 1;
}

@media (min-width: 1300px) {
    .gallery-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 1300px) {
    .gallery-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 930px) {
    .gallery-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 690px) {
    .gallery-container {
        grid-template-columns: repeat(1, 360px);
        width: 360px;
    }
    
    .gallery-img-container:nth-child(8n+4),
    .gallery-img-container:nth-child(8n+5) {
        grid-row: span 1;
        grid-column: span 1;
    }

}
