.gallery-bgd {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.gallery-page-title {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    color: #442727;
    padding: 0;
    margin: 0 auto 2rem auto;
}

.gallery-container {
    display: grid;
    gap: 1rem;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    width: 87vw;

}

.gallery-img-container {
    background-color: #FBFFE2;
    border: none;
    max-height: 29vw;
    padding: 6px;
    box-shadow: 0 0 7px rgba(68, 39, 39, 0.3);
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.gallery-img:hover {
    cursor: pointer;
    filter: brightness(0.8);
    transition: 0.5s;
}

.gallery-img-container:nth-child(8n+1),
.gallery-img-container:nth-child(8n+6) {
    grid-row: span 2;
    grid-column: span 1;
    max-height: 200vw;
}

.gallery-img-container:nth-child(8n+4),
.gallery-img-container:nth-child(8n+5) {
    grid-row: span 1;
    grid-column: span 2;
}

.gallery-img-container:nth-child(8n+2),
.gallery-img-container:nth-child(8n+3),
.gallery-img-container:nth-child(8n+7),
.gallery-img-container:nth-child(8n+8) {
    grid-row: span 1;
    grid-column: span 1;
}

/* MODALS */

#modal {
    max-width: 60%;
    max-height: 90%;
    border: none;
    padding: 0;
    overflow: auto;
}

#modalClose {
    background-color: transparent;
    border: none;
    font-size: 4rem;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    width: 4rem;
    height: 4rem;
}

#modalClose:hover {
    cursor: pointer;

}

#modal::backdrop {
    background-color: rgb(255, 255, 255, 0.7);
}

#modal-img {
    width: 100%;
    height: auto;
    max-width: 80vw;
    max-height: 80vh;
    display: block;
}



@media (min-width: 1300px) {
    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1300px) {
    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 930px) {
    .gallery-img-container {
        min-height: 43.5vw;
        max-height: 43.5vw;
    }
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .gallery-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery-img-container {
        min-height: 87vw;
        max-height: 87vw;
    }

    /* .gallery-img-container {
        grid-row: span 1;
        grid-column: span 1;
    } */
    
    .gallery-img-container:nth-child(8n+4),
    .gallery-img-container:nth-child(8n+5) {
        grid-row: span 1;
        grid-column: span 1;
    }

    /* make modal full screen here */

}
