.login-form-bgd {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    background-color: var(--yellow);
    padding: 2rem 2.5rem;
    box-shadow: 0px 0px 10px var(--brown);
    box-sizing: border-box;
    width: 100%;
    max-width: 440px;
}

#email {
    width: 100%;
    align-self: left;
}

@media (max-width: 440px) {

    .login-form {
        box-shadow: none;
        border-top: 2px solid var(--brown);
        border-bottom: 2px solid var(--brown);
    }
}
