.game {
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: none;
    padding: 2rem 6rem;
}

.play-title {
    font-family: 'Dancing Script', cursive;
    font-size: 64px;
    color:  #442727;
    margin: 0 0 2rem 0;
}

#game-wrapper {
    display: block;
    margin: none;
    padding: none;
    position: relative;
    min-height: 720px;
}

#game-canvas {
    /* height: 720px;
    width: 360px; */
    background-color: #FBFFE2;
    border: 3px solid #442727;
    margin: none;
    padding: none;
    z-index: 0;
    left: calc(50% - 180px);
}

#start-btn {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    background-color: #FFAFAF;
    /* box-shadow: 4px 4px 10px; */
    font-weight: bold;
    font-family: "Crimson Text", serif;
    font-size: 40px;
    color: #442727;
    border: 1px solid #FFAFAF;
    border-radius: 10px;
    padding: 2px 1rem;
    white-space: nowrap;
    transition: 0.5s;
}

#start-btn:hover {
    /* transition: 0.5s; */
    background-color: #FFAFAF;
    cursor: pointer;
    border: 1px solid #442727;
    box-shadow: 0px 0px 5px;
}

#start-btn:active {
    box-shadow: none;
}

#game-over-text {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    display: none;
    font-weight: bold;
    font-family: "Crimson Text", serif;
    font-size: 52px;
    text-align: center;
    color: #442727;
    margin: none;
    padding: none;
    white-space: nowrap;

}

#final-score-text {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    display: none;
    font-weight: 400;
    font-family: "Crimson Text", serif;
    font-size: 40px;
    font-style: italic;
    text-align: center;
    color: #442727;
    margin: none;
    padding: none;
    white-space: nowrap;
}

#hs-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
    white-space: nowrap;
}

#hs-form-label {
    font-family: "Crimson Text", serif;
    font-size: 32px;
    margin-bottom: 2rem;
}

#hs-form-name {
    font-size: 20px;
    border: 1px solid #442727;
    box-shadow: inset 0px 0px 1px;
    border-radius: none;
    font-family: "Crimson Text", serif;
    /* align-self: center; */
}

#hs-form-btn {
    background-color: #FFAFAF;
    font-weight: bold;
    font-family: "Crimson Text", serif;
    font-size: 18px;
    color: #442727;
    border: 1px solid #FFAFAF;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.5s;
    margin-top: 2rem;
}

#hs-form-btn:hover {
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid #442727;
    box-shadow: 0px 0px 5px;
}

.game-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-info-container {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    font-family: 'Crimson Text', serif;
}

.game-title {
    font-size: 32px;
    margin: none;
    padding: none;
}

.game-description {
    font-size: 20px;
    margin-bottom: 4rem;
    padding: none;
}

.hi-score-table {
    margin-bottom: 4rem;
}

.hi-score-title {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    text-decoration: underline;
}

.hi-score {
    font-weight: bold;
    font-size: 20px;
    line-height: 4rem;
}

@media (max-width: 900px) {
    .game-body {
        flex-direction: column-reverse;
        align-items: center;
    }

    .game-info-container {
        margin-left: 0;
    }
}