.game-bgd {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
}

.game-body {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* GAME RELATED ITEMS */

#kitchen-catcher {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    color: black;
    position: absolute;
    left: 50%;
    top: 3%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#game-wrapper {
    margin: none;
    padding: none;
    position: relative;
    min-height: 720px;
}

#windfall {
    stroke: black;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

#milk {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    transform: translate(-50%, -50%) rotate(45deg);
}

#mixing-bowl {
    position: absolute;
    left: 50%;
    bottom: 20%;
    width: 150px;
    transform: translate(-50%, -50%);
}

#knife1 {
    position: absolute;
    left: 50%;
    bottom: 23%;
    width: 150px;
    transform: translate(-50%, -50%);
    display: none;
}

#knife2 {
    position: absolute;
    left: 50%;
    bottom: 23%;
    width: 150px;
    transform: translate(-50%, -50%) scaleX(-1);
    display: none;
}

#crown {
    position: absolute;
    left: 50%;
    bottom: 38%;
    width: 150px;
    transform: translate(-50%, -50%);
    display: none;
}


#game-canvas-bgd {
    position: absolute;
    z-index: -1;
    border: 3px solid var(--brown);
    background-color: var(--yellow);
}

#game-canvas {
    margin: none;
    padding: none;
    left: calc(50% - 180px);
    z-index: 1;
}

#start-btn {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    background-color: var(--pink);
    font-weight: bold;
    font-family: "Crimson Text", serif;
    font-size: 40px;
    color: var(--brown);
    border: 1px solid var(--pink);
    border-radius: 30px;
    padding: 0.25rem 1.5rem;
    white-space: nowrap;
    transition: 0.5s;
}

#start-btn:hover {
    /* transition: 0.5s; */
    background-color: var(--pink);
    cursor: pointer;
    border: 1px solid var(--brown);
    box-shadow: 0px 0px 5px;
}

#start-btn:active {
    box-shadow: none;
}

#game-over-text {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    display: none;
    font-weight: bold;
    font-family: "Crimson Text", serif;
    font-size: 52px;
    text-align: center;
    color: var(--brown);
    margin: none;
    padding: none;
    white-space: nowrap;

}

#final-score-text {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    display: none;
    font-weight: 400;
    font-family: "Crimson Text", serif;
    font-size: 40px;
    font-style: italic;
    text-align: center;
    color: var(--brown);
    margin: none;
    padding: none;
    white-space: nowrap;
}


/* GENERAL PAGE ITEMS */
#small-screen-alert {
    background-color: var(--yellow);
    padding: 1rem;
    font-family: 'Crimson Text', serif;
    box-shadow: 0px 0px 10px var(--brown);
    display: none;
    text-align: center;
    max-width: 360px;
    margin: auto;
}

#hs-form {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
    white-space: nowrap;
}

#hs-form-label {
    font-family: "Crimson Text", serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

#hs-form-name {
    font-size: 20px;
    border: 1px solid var(--brown);
    box-shadow: inset 0px 0px 1px;
    border-radius: none;
    font-family: "Crimson Text", serif;
}

#hs-form-btn {
    background-color: var(--pink);
    font-weight: bold;
    font-family: "Crimson Text", serif;
    font-size: 18px;
    color: var(--brown);
    border: 1px solid var(--pink);
    border-radius: 30px;
    box-sizing: border-box;
    transition: 0.5s;
    margin-top: 2rem;
}

#hs-form-btn:hover {
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid var(--brown);
    box-shadow: 0px 0px 5px;
}

.game-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-info-container {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    font-family: 'Crimson Text', serif;
}

.game-title {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.game-description {
    font-size: 20px;
    margin: 1rem 0;
    padding: 0;
}

.hi-score-table {
    margin: 3rem 0;
    width: 70%;
    align-self: center;
}

.hi-score-title {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    text-decoration: underline;
}

.hi-score {
    font-weight: bold;
    font-size: 20px;
    line-height: 4rem;
}

.hi-score-score {
    text-align: right;
}

@media (max-width: 900px) {
    .game-body {
        flex-direction: column-reverse;
        align-items: center;
    }

    .game-info-container {
        margin-left: 0;
    }
}

@media (max-width: 440px) {
    #game-wrapper {
        display: none;
    }

    #small-screen-alert {
        display: flex;
    }
}

@media (pointer: coarse) {
    #game-wrapper {
        display: none;
    }

    #small-screen-alert {
        display: flex;
    }
}