.game {
    min-height: calc(100vh - 50px);
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 2rem 6rem;
}

.play-title {
    font-family: 'Dancing Script', cursive;
    font-size: 64px;
    color:  #442727;
    margin: 0 0 2rem 0;
}

#game-wrapper {
    margin: none;
    padding: none;
    position: relative;
    min-height: 720px;
}

#game-canvas {
    height: 720px;
    width: 360px;
    background-color: grey;
    margin: none;
    padding: none;
    z-index: 0;
    left: calc(50% - 180px);

}

#start-btn {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
