.recipe-story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe-buttons-story {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.story-btn-story {
    cursor: pointer;
    font-family:'Dancing Script', cursive;
    color: var(--brown);
    font-size: 32px;
    border: 2px solid var(--brown);
    border-radius: 10px 0 0 10px;
    background-color: var(--blue);
    padding: 0 2rem;
    transition: 0.5s;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 3px var(--brown);
}

.story-btn-story:hover {
    background-color: var(--white);
    transition: 0.5s;
}

.list-btn-story {
    cursor: pointer;
    font-family:'Dancing Script', cursive;
    color: var(--brown);
    font-size: 32px;
    font-weight: 400;
    border: 2px solid var(--yellow);
    border-left: 2px solid transparent;
    border-radius: 0 10px 10px 0;
    text-decoration: none;
    background-color: var(--yellow);
    padding: 0 2rem;
    transition: 0.5s;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px var(--brown);
}

.list-btn-story:hover {
    background-color: white;
    transition: 0.5s;
}

.story-text {
    font-family: "Crimson Text", serif;
    color: var(--brown);
    text-align: left;
    margin: 0 2rem;
    max-width: 1080px;
}
.story-title {
    font-size: 28px;
    font-family: "Crimson Text", serif;
    color: var(--brown);
    text-align: left;
    margin: 0;
}

.story-subtitle {
    font-size: 20px;
    font-family: "Crimson Text", serif;
    font-style: italic;
    color: var(--brown);
    text-align: left;
    margin: 0;
}

.story-body {
    margin: 1rem 0 2rem 0;
}

.story-quote {
    font-size: 20px;
    color: var(--brown);
    text-align: center;
    margin: 0.5rem;
}

.story-citation {
    text-align: center;
    color: var(--brown);
    margin: 0.5rem;
}

.story-quote-seperator {
    border-top: 1px solid var(--yellow);
    border-bottom: 1px solid var(--yellow);
    max-width: 1080px;
    width: 75%;
}

.next-recipe-container-story {
    max-width: 1080px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0 2rem 0 0;
}

.next-recipe-btn-story {
    cursor: pointer;
    font-size: 20px;
    font-family: "Crimson Text", serif;
    font-style: italic;
    text-decoration: none;
    background-color: var(--yellow);
    color: var(--brown);
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-self: end;
    align-items: center;
    padding: 0 1rem 0 1.5rem;
    transition: 0.5s;
    margin: 0 0 2rem 0;
}

.next-recipe-btn-story:hover {
    transition: 0.5s;
    background-color: var(--white);
}

.right-arrow-svg {
    height: 30px;
    padding: 0;
    fill: var(--brown);
}