.rl-container {
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.rl-title {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    color: #442727;
    padding: 0;
    margin: 0 auto 2rem auto;
}

/* RECIPE CONTAINERS */

.rl-recipe-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 200px;
    width: 100%;
    margin: auto;
    border-top: 3px solid #442727;
    transition: 0.5s;
}

.rl-recipe-container:nth-child(odd) {
    flex-direction: row-reverse;
}

.rl-recipe-container:nth-child(3n-2) {
    background-color: #B6EAFA;
}

.rl-recipe-container:nth-child(3n-1) {
    background-color: #FBFFE2;
}

.rl-recipe-container:nth-child(3n) {
    background-color: #FFAFAF;
}

.rl-recipe-container:hover {
    cursor: pointer;
    opacity: 0.75;
    filter: brightness(1.3);
    transition: 0.5s;
}

/* TITLES */
.rl-recipe-title {
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: clamp(2rem, 7vw, 3.5rem);
    text-align: center;
    color: #442727;
    padding: 0;
}

.rl-recipe-container:nth-child(even) > .rl-recipe-title {
    margin-left: clamp(2%, 6%, 10%);
}

.rl-recipe-container:nth-child(odd) > .rl-recipe-title {
    margin-right: clamp(2%, 6%, 10%);
}

/* IMG CONTAINERS */
.rl-recipe-img-container {
    width: 100%;
    height: inherit;
    position: relative;
    z-index: 1;
    right: 0;
}

.rl-recipe-img-container:before{
    content: "";
    position: absolute;
    z-index: 1;
    border-bottom: 200px solid transparent;
    left: 0;
    top: 0;
}

.rl-recipe-img-container:after {
    content: "";
    position: absolute;
    z-index: 1;
    border-top: 200px solid transparent;
    right: 0;
    bottom: 0;
}

/* YELLOW */
.rl-recipe-container:nth-child(3n-1) > .rl-recipe-img-container:before {
    border-left: 75px solid #FBFFE2;
}

.rl-recipe-container:nth-child(3n-1) > .rl-recipe-img-container:after {
    border-right: 75px solid #FBFFE2;
}

/* BLUE */
.rl-recipe-container:nth-child(3n-2) > .rl-recipe-img-container:before {
    border-left: 75px solid #B6EAFA;
}

.rl-recipe-container:nth-child(3n-2) > .rl-recipe-img-container:after {
    border-right: 75px solid #B6EAFA;
}

/* PINK */
.rl-recipe-container:nth-child(3n) > .rl-recipe-img-container:before {
    border-left: 75px solid #FFAFAF;
}

.rl-recipe-container:nth-child(3n) > .rl-recipe-img-container:after {
    border-right: 75px solid #FFAFAF;
}

/* IMAGES */
.rl-img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    z-index: 0;
}

@media (max-width: 540px) {
    .rl-recipe-container:nth-child(odd) > .rl-recipe-img-container:before {
        display: none;
    }
    .rl-recipe-container:nth-child(even) > .rl-recipe-img-container:after {
        display: none;
    }

}