.rl-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
}

/* RECIPE CONTAINERS */

.rl-recipe-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 200px;
    width: 100%;
    margin: auto;
    border-top: 3px solid var(--brown);
    transition: 0.5s;
}

.rl-recipe-container:nth-child(odd) {
    flex-direction: row-reverse;
}

.rl-recipe-container:nth-child(3n-2) {
    background-color: var(--blue);
}

.rl-recipe-container:nth-child(3n-1) {
    background-color: var(--yellow);
}

.rl-recipe-container:nth-child(3n) {
    background-color: var(--pink);
}

.rl-recipe-container:hover {
    cursor: pointer;
    opacity: 0.75;
    filter: brightness(1.3);
    transition: 0.5s;
}

/* TITLES */
.rl-recipe-title {
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: clamp(2rem, 7vw, 3.5rem);
    text-align: center;
    color: var(--brown);
    padding: 0;
}

.rl-recipe-container:nth-child(even) > .rl-recipe-title {
    margin-left: clamp(2%, 6%, 10%);
}

.rl-recipe-container:nth-child(odd) > .rl-recipe-title {
    margin-right: clamp(2%, 6%, 10%);
}

/* IMG CONTAINERS */
.rl-recipe-img-container {
    width: 100%;
    height: inherit;
    position: relative;
    z-index: 1;
    right: 0;
}

.rl-recipe-img-container:before{
    content: "";
    position: absolute;
    z-index: 1;
    border-bottom: 200px solid transparent;
    left: 0;
    top: 0;
}

.rl-recipe-img-container:after {
    content: "";
    position: absolute;
    z-index: 1;
    border-top: 200px solid transparent;
    right: 0;
    bottom: 0;
}

/* YELLOW */
.rl-recipe-container:nth-child(3n-1) > .rl-recipe-img-container:before {
    border-left: 75px solid var(--yellow);
}

.rl-recipe-container:nth-child(3n-1) > .rl-recipe-img-container:after {
    border-right: 75px solid var(--yellow);
}

/* BLUE */
.rl-recipe-container:nth-child(3n-2) > .rl-recipe-img-container:before {
    border-left: 75px solid var(--blue);
}

.rl-recipe-container:nth-child(3n-2) > .rl-recipe-img-container:after {
    border-right: 75px solid var(--blue);
}

/* PINK */
.rl-recipe-container:nth-child(3n) > .rl-recipe-img-container:before {
    border-left: 75px solid var(--pink);
}

.rl-recipe-container:nth-child(3n) > .rl-recipe-img-container:after {
    border-right: 75px solid var(--pink);
}

/* IMAGES */
.rl-img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    z-index: 0;
}

@media (max-width: 540px) {
    .rl-recipe-container:nth-child(odd) > .rl-recipe-img-container:before {
        display: none;
    }
    .rl-recipe-container:nth-child(even) > .rl-recipe-img-container:after {
        display: none;
    }

}